body {
background-image:url(Live.jpg) ;
background-size: 97%;
background-repeat: no-repeat;
background-position: center;
/*background-position:30% 30%;*/
 }

/*
.background.center {
  background-position: center;
}
*/